
Lesson 12 - plots/.ipynb_checkpoints/12_HomeWork-checkpoint.ipynb
Lesson 10 - pandas/HomeWork-05-22-19-21-28-00/.ipynb_checkpoints/10_Pandas_HomeWork-checkpoint.ipynb
Lesson 12 - plots/ClassWork-05-28-19-13-44-50/.ipynb_checkpoints/ClassWork-02-23-19-22-59-28_ClassWork-checkpoint.ipynb
Lesson 13-14 - sql/.ipynb_checkpoints/Lesson 13. Intern to SQL-checkpoint.ipynb
Lesson 9 - exceptions/HomeWork-05-19-19-00-11-19/.ipynb_checkpoints/Lesson 9. HomeWork-checkpoint.ipynb
